<div class="logo">
	<h1>My Blog</h1>
	<%= link_to "Home", posts_path %>
</div>

<h2><%= @post.title %></h2>
<h4>Written by: <%= @post.author %></h4>
<p><%= @post.body %></p>
<br>
<img src="<%= @post.picture %>" width="500" height="auto">
<br><br>
<p><strong>Comments: </strong></p>
<br>
<%= render @post.comments %>
<%= link_to "Edit Post", edit_post_path(@post) %> |
<%= link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure?" } %>